<form [formGroup]="form" (ngSubmit)="submitSearchForm()">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Search term</label>
    <div class="col-sm-10">
      <input type="text" required formControlName="term" class="form-control-plaintext" id="term" placeholder="garage AND garden -balcony" [ngClass]="[form.get('term').errors && !form.get('term').dirty ? 'invalid' : 'valid']" (input)="resetResults()">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary mb-2" [disabled]="!form.valid">Search properties</button>
    </div>
  </div>
</form>
<div class="col-12" *ngIf="properties">
  <p>You searched for {{ term.value }} returned {{ totalItems }} documents.</p>
</div>
<div class="row card-group">
  <div class="col-4" *ngFor="let property of properties">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">{{ property.content.property.title }}</h4>
        <a routerLink="{{ property.uri }}" class="btn btn-primary">View listing</a>
      </div>
    </div>
  </div>
</div>

<div class="col-12" *ngIf="properties">
  <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="false" (pageChange)="pageChanged($event)"></ngb-pagination>
</div>